<app-menu></app-menu>

<div class="block-content" id="block-content">
  <div class="button-block">
    <button (click)="svc.showCars = !this.svc.showCars; hint = false; //carNameImg()">
      cars
    </button>
    <div class="hint" *ngIf="hint">
      <
    </div>
  </div>

  <div *ngIf="car1 && svc.showCars" class="car1-chose">
    <div>
      <div>
        you chose the first car
      </div>
      <div style="text-align: center;">
        <b>enter next car</b>
      </div>
    </div>
  </div>

  <div class="content-main">
    <div class="search-car-block" *ngIf="svc.showCars">
      <input type="text" #carFoundName placeholder="search car">
      <button (click)="svc.searchCar(carFoundName.value)">search</button>
    </div>
    <div class="car-mark-model">
      <div class="marks" *ngIf="svc.showCars">
        <div>
          <div *ngIf="!car1">
            <h1>name</h1>
          </div>

          <div *ngIf="car1">
            <h1 class="carTitleMarks" *ngFor="let marksTitle of car1">{{marksTitle.name}}</h1>
          </div>
        </div>

        <ul *ngFor="let car of svc.cars">
          <li (click)="svc.currentCar(car)">
<!--            <img src="{{car.logo}}" style="border-radius: 10px" width="20px" height="20px" alt="" />-->
            {{car.name}}
          </li>
        </ul>
      </div>

      <div class="model" *ngIf="svc.showCars && svc.carCurrent">
        <div>
          <div *ngIf="!car1">
            <h1>model</h1>
          </div>
          <div *ngIf="car1">
            <h1 class="carTitleModel" *ngFor="let modelTitle of car1">{{modelTitle.model}}</h1>
          </div>
        </div>
        <ul class="model-ul" *ngFor="let model of svc.model">
          <div class="model-buttons">
            <li (click)="svc.modelCar(model)">
              {{model.name}}
            </li>
            <svg (click)="svc.likeCar(model)" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                 fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
          </div>
        </ul>
      </div>

      <div class="gear" *ngIf="svc.showCars && svc.currentModel">
        <div>
          <div *ngIf="!car1">
            <h1>gear</h1>
          </div>
          <div *ngIf="car1">
            <h1 class="carTitleGear" *ngFor="let gearTitle of car1">{{gearTitle.gear}}</h1>
          </div>
        </div>
        <ul *ngFor="let gears of svc.gear">
          <li (click)="svc.getGear(gears)">
            {{gears.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



